* {
  /* background-color: #202020; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* background-color: #18191A; */
}

.circleButton {
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  text-align: center;
  background-color: #87AEC3;
}
